@import url('https://fonts.googleapis.com/css2?family=Krub:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.content-banner{
    font-family: 'Roboto', sans-serif;
    color: white;
    top: 0;
    padding: 80px;
}

.bgimg{
    background-image: url('../Assets/Semarang.jpeg');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;  
}
.box-blur{
    background: rgba(0, 0, 0, 0.336);
    height: 100vh;
    backdrop-filter: blur(2px);
}

.title-banner{
    font-size: 48px;
    font-family: 'Krub';
    margin-top: 50px;
    font-weight: 700;
    color: #C36A2D;
}

.boxtxtbanner{
    width: 550px;
    margin-top: 120px;
}

.btn-explore{
    font-family: 'Roboto', sans-serif;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    background: #C36A2D;
    margin-top: 120px;
    margin-bottom: 20px;
    border-radius: 50px;
}

.boxbotbanner{
    background: #C36A2D;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

.contentbotbanner{
    margin-left: 120px;
    margin-right: 120px;
}

.img-iconbotbanner{
    width: 128px;
    height: 120px;
}

.title-botbanner{
    font-weight: bold;
    color: white;
    text-align: center;
}

.content{
    justify-content: left;
    display: inline-flex;
    flex-flow: row wrap;
    width: 90%;
}
.container-body{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.card-content{
    height: 510px;
    margin: 52px;
    width: 350px;
    background: #F8F8F8;
    box-shadow: 0px 4px 14px 4px rgba(195, 106, 45, 0.63);
    border-radius: 20px;
}

.wrapper-content{
    padding: 20px;
}
.txt-shortdes{
    text-align: justify;
    font-weight: 700;
}
.btn-popular{
    background: #D9D9D9;
    border: 1px solid #C36A2D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 19px;    
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    color: #C36A2D;
    font-size: 15px;
}

.wrapper-body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.img-content{
    object-fit: cover;
    border-radius: 20px;
    left: 0;
    top: 0;
    width: 350px;
    height: 249px;
}

.title-content{
    font-weight: bold;
    margin-top: 20px;
}

.subtitle-content{
    color: rgba(0, 0, 0, 0.61);
    font-style: italic;
    font-weight: 600;
    font-size: 20px;
}


